@import "@ionic/angular/css/core.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#home-component.home .home-content .home-title,
#home-component.home .home-content .home-title *,
#home-component.home .home-content .home-title .home-highlight {
  font-family: "Avenir Next Bold", sans-serif;
}

#home-component.home .home-content .home__description,
#home-component.home .home-content .home__description * {
  font-family: "Avenir Next", sans-serif;
}
