<div class="home" id="home-component">
    <div class="home-centered">
        <div class="home-content">
            <img src="/assets/hello_pwa.gif" alt="Animación de saludo, dos personas" class="home-image-gift" />
            <h1 class="home-title">
                ¡Te damos la <span class="home-highlight">bienvenida a</span>
                <span class="home-highlight">Banco Azteca!</span>
            </h1>
            <p class="home__description">
                Usa tu préstamo como dinero en efectivo<br />
                o compra donde quieras
            </p>

            <form class="form-container">
                <ion-label>¿Cómo prefieres que te llamemos?</ion-label>
                <ion-item class="input-container">
                    <ion-input #ionInputEl [value]="inputModel" (ionInput)="onInput($event)"
                        placeholder="Escribe tu nombre" [counter]="true" maxlength="15"
                        [counterFormatter]="customCounterFormatter" fill="clear">
                    </ion-input>
                    <ion-icon name="mic"></ion-icon>
                </ion-item>
                <ion-button expand="block" shape="round">Comenzar</ion-button>
            </form>
        </div>
    </div>
</div>